html, body {
    width: 100%;
    height: 100%;
    font-family: Open Sans;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
